h3 {
  color: black;
  font-family: "Titillium Web";
  font-size: 16px;
  background-color: white;
  transform: skewY(-4deg);
}

.loader {
  display: flex;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  text-align: center;
  font-family: "Street Fighter 4";
  font-size: 10px;
  color: white;
  animation: text_flash 0.1s infinite;
}

.app-wrapper {
  flex-direction: column;
  text-align: center;
}

/* Coming Soon */
.main-wrapper h2 {
  font-family: "Nintendo NES Font";
  font-size: 15px;
  color: white;
}

.flash {
  animation: text_flash 0.75s infinite;
}

.main-wrapper h2 {
  padding: 5px;
  letter-spacing: 6px;
}

/* FOOTER */
.footer-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  padding-bottom: 0;
}

.footer-wrapper p {
  font-family: "Titillium Web";
  letter-spacing: 2px;
  font-size: 11px;
}

.social-media-wrapper {
  font-size: 1.5em;
}

.social-media-wrapper a {
  padding: 10px;
  color: white;
}

.gif {
  height: 80px;
  transform: skewY(-4deg);
}

/* Fonts */
@font-face {
  font-family: "Nintendo NES Font";
  src: url("./assets/fonts/Nintendo NES Font.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Street Fighter 4";
  src: url("./assets/fonts/ssf4.ttf") format("truetype");
}

/* Animations */
@keyframes text_flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 416px) {
  h3 {
    font-size: 20px;
  }

  .main-wrapper h2 {
    font-size: 23px;
  }

  .footer-wrapper {
    padding-bottom: 100px;
  }

  .social-media-wrapper a {
    padding: 30px;
  }

  .gif {
    height: 120px;
  }
}
