.loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  font-family: "Nintendo NES Font";
  font-size: 10px;
  color: white;
  animation: text_flash 0.1s infinite;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

/* HEADER */
.header-wrapper {
  height: 20%;
}

/* MAIN */
.main-wrapper {
  height: 60%;
}

/* Coming Soon */
.main-wrapper h2 {
  font-family: "Nintendo NES Font";
  font-size: 20px;
  color: white;
  animation: text_flash 0.75s infinite;
}

.main-wrapper h2 {
  display: flex;
  margin: auto;
}

/* FOOTER */
.footer-wrapper {
  height: 20%;
  color: white;
}

.footer-wrapper p {
  font-family: "Titillium Web";
  letter-spacing: 2px;
  font-size: 11px;
}

.social-media-button {
  display: inline;
  font-size: 1.5em;
  padding: 16px;
}

.social-media-button a {
  color: white;
}

/* SHARED */
.header-wrapper,
.main-wrapper,
.footer-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-wrapper,
.footer-wrapper {
  justify-content: center;
}

/* Fonts */
@font-face {
  font-family: "Nintendo NES Font";
  src: url("./assets/fonts/Nintendo NES Font.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

/* Animations */
@keyframes text_flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* TO DO: Set max-width for desktop resolutions */
